<h1 id="header">Witaj wędrowcze. Przed rozpoczęciem gry musisz podać swój nick:</h1>

<form [formGroup]="createPlayerForm" (ngSubmit)="onSubmit()">
  <input type="text" id="name" formControlName="name" placeholder="Twój nick" (click)="onInputClick()" required>
  <input type="submit" value="Dalej!">
</form>

<div *ngIf="showError"
     class="error-box">
  <div *ngIf="createPlayerForm.controls.name.errors?.['required']" class="inner-error">Musisz podać imię!</div>
  <div *ngIf="createPlayerForm.controls.name.errors?.['minlength']" class="inner-error">Twoja nazwa musi mieć co najmniej 2 znaki!</div>
</div>
